<!DOCTYPE HTML>
{% load staticfiles %}
<html>
<head>
    <title>Australian City Analytics</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!--[if lte IE 8]>
    <script src="{% static 'assets/js/ie/html5shiv.js' %}"></script><![endif]-->
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}"/>
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="{% static 'assets/css/ie8.css' %}"/><![endif]-->
</head>
<body class="homepage">
<div id="page-wrapper">

    <!-- Header -->
    <div id="header-wrapper">
        <div id="header">

            <!-- Logo -->
            <h1><a href="index.html">Australian City Analytics</a></h1>

            <!-- Nav -->
            <nav id="nav">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/scenario-one">Scenario One</a></li>
                    <li>
                        <a href="#">Scenario Two</a>
                        <ul>
                            <li><a href="/scenario-two">Map Chart</a></li>
                            <li><a href="/scenario-two2">Line Chart</a></li>
                        </ul>
                    </li>
                    <li  class="current">
                        <a href="#">Scenario Three</a>
                        <ul>
                            <li><a href="/scenario-three">Map Chart</a></li>
                            <li><a href="/scenario-three2">Line Chart</a></li>
                        </ul>
                    </li>
                    <li><a href="/team-member">Team Members</a></li>
                </ul>
            </nav>


        </div>
    </div>


    <!-- Main -->
    <div id="main-wrapper">
        <div class="container">
            <div class="row">
                <div class="8u 12u(mobile)">
                    <!--****************************-->



                    <head>
                        <!---- >
                        <!-- https://developers.google.com/chart/interactive/docs/gallery/geochart#full -->
                        <!---->
                        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
                        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
                        <script type="text/javascript">

                            google.charts.load('current', {'packages': ['geochart']});
                            google.charts.setOnLoadCallback(drawRegionsMap);

                            function drawRegionsMap() {
                                var data_from_django = JSON.parse("{{ my_data|escapejs }}");
                                var data = google.visualization.arrayToDataTable(data_from_django);
                                var options = {
                                    region: 'AU',
                                    colors:['D70505'],
                                    displayMode: 'regions',
                                    resolution: 'provinces',
                                };

                                var chart = new google.visualization.GeoChart(document.getElementById('geochart'));

                                chart.draw(data, options);
                            }
                        </script>
                    </head>
                    <body>
                    <div id="geochart" style="width: auto; height: auto;"></div>
                    </body>



                    <!--****************************-->
                </div>

                <div class="4u 12u(mobile)">

                    <!-- Sidebar -->
                    <section class="box">
                        <a class="image featured"><img src="{% static 'images/005.png' %}" alt=""/></a>
                        <header>
                            <h3>Alcohol-Tobacco Attitude Analysis by Gender</h3>
                        </header>
                        <p>
                            The alcohol-tobacco scenario focuses on twitter user's reaction and attitude towards
                            drinking and smoking
                        </p>
                        <p>
                            The negative attitude rate will be compared with female population rate, city by city.
                            The principle of this scenario is to find out whether female has more negative feeling
                            on those issue.
                        </p>
                    </section>

                </div>
            </div>
        </div>
    </div>


    <!-- Footer -->
    <div id="footer-wrapper">
        <section id="footer" class="container">
            <div class="row">
                <div class="12u">

                    <!-- Copyright -->
                    <div id="copyright">
                        <ul class="links">
                            <!--<li>&copy; Team balabal. All rights reserved.</li>-->
                            <!--<li>Design: <a href="ip">IP</a></li>-->
                            <li>&copy; Comp 90024 Team 16. All rights reserved.</li>
                        </ul>
                    </div>

                </div>
            </div>
        </section>
    </div>

</div>

<!-- Scripts -->

<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.dropotron.min.js' %}"></script>
<script src="{% static 'assets/js/skel.min.js' %}"></script>
<script src="{% static 'assets/js/skel-viewport.min.js' %}"></script>
<script src="{% static 'assets/js/util.js' %}"></script>
<!--[if lte IE 8]><script src="{% static 'assets/js/ie/respond.min.js' %}"></script><![endif]-->
<script src="{% static 'assets/js/main.js' %}"></script>


</body>
</html>
